<nav class="sidebar">
    <div class="sidebar-top">
        <!-- <img class="logo" src="/assets/v4-logo.png" alt="V4"> -->
        <button id="sidebarCollapseBtn" class="sidebar-collapse-btn">
            <i class="fas fa-chevron-left"></i>
        </button>
    </div>

    <div class="sidebar-nav">
        <a href="/" class="nav-item">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a href="/hub-projetos" class="nav-item">
            <i class="fas fa-project-diagram"></i>
            <span>Hub de Projetos</span>
        </a>
        {% if session.squad == "Gerência" %}
        <a href="/hub-remuneracao" class="nav-item">
            <i class="fas fa-wallet"></i>
            <span>Remuneração</span>
        </a>
        {% endif %}

        {% if session.email in ["martins.gabriel@v4company.com"]%}

        <a href="/hub-cs-cx" class="nav-item">
            <i class="fas fa-users"></i>
            <span>Hub de CS/CX</span>
        </a>
        <a href="/painel-atribuicao" class="nav-item">
            <i class="fas fa-tasks"></i>
            <span>Painel de Atribuição</span>
        </a>
        <a href="/painel-ranking" class="nav-item">
            <i class="fas fa-trophy"></i>
            <span>Painel de Ranking</span>
        </a>
        <a href="/vendas" class="nav-item">
            <i class="fas fa-shopping-cart"></i>
            <span>Vendas</span>
        </a>
        <a href="/cockpit" class="nav-item">
            <i class="fas fa-tachometer-alt"></i>
            <span>Cockpit</span>
        </a>
        {% endif %}
    </div>
</nav>